body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.calculator-screen {
    width: 100%;
    height: 80px;
    background-color: gray;
    color: #fff;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 2.5em;
    border: none;
    margin-bottom: 10px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #eee;
}

button {
    height: 60px;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button:active {
    background-color: #363535;
}

.operator {
    background-color: rgb(102, 86, 86);
    color: white;
}

.operator:active {
    background-color: #d48a0c;
}

.all-clear {
    background-color: #ef0606e1;
    color: white;
}

.all-clear:active {
    background-color: #b71c1c;
}

.equal-sign {
    background-color: #4caf50;
    color: white;
    grid-column: span 4;
}

.equal-sign:active {
    background-color: #388e3c;
}
